@charset "utf-8";
@font-face {
    font-family: 'IBMPlexSansKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    box-sizing:border-box;
    word-break: keep-all;
    word-wrap: break-word;
}

a{
    box-sizing:border-box;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

html{
    font-size: 16px;
}

body {
    font-family:$primary-font;
    letter-spacing:-0.01em;
    line-height:1.4;
    -webkit-font-smoothing:antialiased;
    color:$black;
}

h1, h2, h3, h4, h5{
    font-size:1em;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border:0 none;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select, textarea {
    vertical-align:middle;
    box-sizing:border-box;
    border-radius:0;
    font-family:$primary-font;
    font-size:1em;
    //-webkit-appearance:none;-moz-appearance:none;appearance:none;
}
input{
    margin:0;
    &::-ms-clear {
        display:none;
    }
}
select::-ms-expand {
    display:none
}
img, fieldset {
    border:0;
}
ul, ol, li{
    list-style-type:none;
}
li img{
    vertical-align:top;
}
button {
    box-sizing:border-box;
    padding:0;
    border:0;
    background:transparent;
    cursor:pointer;
    font-family:$primary-font;
    font-size:1em;
}
a{
    text-decoration:none;
}
img{
    vertical-align:middle;
    font-size:0;
}
