///********************///
///*     Colors       *///
///********************///

$black: #000;
$white: #fff;

$color1: #000;
$color2: #666;
$boder1: #e3e3e3;
$boder2: #e1e1e1;
$color3: #adadad;

$task1: #0BBDB9;

///********************///
///*    Break Points  *///
///********************///
$screen-xsm: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1280px;

///********************///
///*       Fonts      *///
///********************///

$primary-font: 'IBMPlexSansKR', Helvetica, 'malgun gothic', 'Apple SD Gothic Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;